#control {
    position: absolute;
    top: 379px;
    left: 45%;
}

#alert {
    color: #000000;
    width: 307px;
    height: 92px;
    margin: 0px;
    padding-left: 1px;
    border: 1px solid gray;
    font-family: Consolas, Courier New, monospace;
    font-size: 13px;
    background-color: #FFFFFF;
    overflow-y: scroll;
}